.hero.is-fullheight.is-primary.is-bold.homebackground{
  background-image: url("https://images.unsplash.com/photo-1499727349905-b4a773a89264?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1336&q=80");
  background-position: 50%;
  background-position-y: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wavy{
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0.9,0.9,0.9,0.9));
}

.searchbar {
  padding-top: 4%;
  display: flex;
  flex-direction: row;  
}

.search {
  flex-grow: 3;
  margin-right: 10px;
}

.frontpage{
  display: flex;
  justify-content: center;
  color: white;
}


.navbar-item.has-dropdown{
  padding-top: 8%;
  padding-left: 10%;
}

.title.is-1.frontpage.wavy{
  font-size: 100px;
}



