.is-fullheight{
  display: flex;
  // background: url("../src/components/common/images/surf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 100px;
}

.input{
  display: flex;
  justify-items: center;
  border-color: transparent;
  width: 70%;
  margin-left: 30%;
}
.control{
  margin-right: 20%;
}