.hero.is-fullheight.login{
  background-image: url("https://images.unsplash.com/photo-1547222794-032f2888a12e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  display: flex;
  color: grey;
  justify-content: center;
  padding-bottom: 4%;
  margin-top: 5%;
  font-weight: bold;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}