.section.is-medium.login{
  height: 100vh;
  background-image: url("../components/common/images/two.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  opacity:90%

}

.login{
    display: flex;  
    justify-content: center;
    padding-bottom: 2%;
    color: white;
    font-size: 60px;
    align-items: flex-start;
    font-weight: bold;
}