.hero.is-fullheight.banner{
  background-image: url("../components/common/images/picforreguster.jpg");
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}   
.checkin{
  text-align: 4px;
}
.box{
  opacity: 90%;
}
.input.information{
  margin-right: 20%;
}
.title.register {
  display: flex;
  color: grey;
  justify-content: center;
  margin-top: -17%;
  padding-bottom: 2%;
  font-weight: bold;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}