.hero.is-medium.index{
  background-image: url("https://images.unsplash.com/photo-1583900664290-a93f564234f0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

.input.is-primary.is-rounded.spotsindex {
  margin-left: 20%;
}

.title.nalu{
  text-align: center;
  color: white;
  font-size: 60px;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0.6,0.6,0.6,0.6));
}

