.title.is-2.spotHeading{
  margin-top: -20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 65px;
  text-align: center;
  color: gray;
  font-weight: bold;
  align-items: center;
  margin-bottom: 5%;
  position: relative;
  -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0.2,0.1,0.1,0.2));
}
.control.list{
  margin-right: -30% ;
}
.input.tag{
 width: 80%;
}
.button.is-dark.sendoff{
  margin-top: 3%;
  width: 30%;
  margin-left: 70%;
}
.is-fullwidth.writehere{
width: 80%;
}
.text {
  width: 78%;
}
.backgoundImage{
  background: url("../components/common/images/Unstad.jpeg");
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 99%;
  background-position: 90%;
  padding-top: -10%;
}
