  .hero-body.individual {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .surfspot {
      font-family: 'Nunito', sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 0 0 10px #000000;
      color: #ffffff;
    }
  }

  .hero-body.individual.show{
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .spot-title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
  }
  .spot-buttons-active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }

  .popup-text {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
  }
  .comment-spot {
    display: flex;
    justify-content: flex-end;

  }

  .title-show {
    color: black;
    size: 20px;
  }

  .spot-info {
    size: 30px;
  }
