.spotHeading{
  margin-top: -20px;
  font-size: 60px;
  align-self: center;
  margin-left: 40%;
  color: white;
  font-weight: bold;
}

.backgoundImage{
  background: url("../components/common/images/five.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}
.control.list{
  margin-right:-20% ;
}

.input.user{
  width: 100%;
  margin-left: 2%;
}

.sendoff{
  margin-top: 10px;
  
}