.card {
  height: 100%;
  display: flex;
  flex-direction: column
}

.ellipsis {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  /*   max-width: 400px; */
  /*   height: 109.2px; */
  /* Fallback for non-webkit */
  margin: 0 auto;
  /*   font-size: 26px; */
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-ellipsis-2 {
  -webkit-line-clamp: 2;
}




@import '~bulma/bulma.sass';
@import 'navbar';
@import 'home';
@import 'register';
@import 'login';
@import 'spotsIndex'