.is-large {
  background: url("../components/common/images/surfboards.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  }

.input.is-primary.is-rounded.spotsindex {
margin-left: 20%;
}

